In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# some aesthetic setting for plotting for the rest of the notebook
sns.set()
plt.rcParams['figure.figsize'] = (12, 6)

In [2]:
temp = pd.read_csv('DataTemp/Data01mean/Tempdatamean.csv',index_col = 1 , parse_dates=True)

In [ ]:
temp.head(5)

In [ ]:
temp.loc[temp[' Q_TG'] == 9 ]

In [ ]:
temp.loc[temp[' Q_TG'] == 1 ]

In [3]:
temp.rename_axis('Date',inplace=True)

In [4]:
temp.rename(columns={'   TG' : 'meantemperature'}, inplace=True)

In [5]:
temp['meantemperature'] = temp['meantemperature'] *0.1

In [6]:
temp.columns

Index([' SOUID', 'meantemperature', ' Q_TG'], dtype='object')

In [7]:
temp = temp.drop([' SOUID',' Q_TG'],axis=1)

In [8]:
temp1 = temp.loc[temp.index.year != 1945]

In [9]:
temp1.index.date

array([datetime.date(1876, 1, 1), datetime.date(1876, 1, 2),
       datetime.date(1876, 1, 3), ..., datetime.date(2022, 2, 26),
       datetime.date(2022, 2, 27), datetime.date(2022, 2, 28)],
      dtype=object)

In [10]:
temp2 = temp1.loc[~((temp1.index.day == 29) & (temp1.index.month == 2))]

In [11]:
temp2['2020-02-26':'2020-03-01']

            meantemperature
Date
2020-02-26              2.9
2020-02-27              3.5
2020-02-28              3.9
2020-03-01              7.1

In [ ]:
temp2['day_month'] =

In [ ]:
temp.index[1400:1600]

In [ ]:
temp['meantemperature'] = temp['meantemperature'] *0.1

In [ ]:
temp.loc[temp['meantemperature'] < -100 ]

In [ ]:
plt.title("Daily mean temperature over time")
plt.ylabel('Temperature in °C')
#plt.ylim(-20,40)
plt.plot(temp.index[10000:15000],temp['meantemperature'][10000:15000])

In [ ]:
wtemp = wtemp.loc[wtemp['meantemperature'] > -100]

In [ ]:
wtemp

In [ ]:
plt.title("Daily mean temperature over time")
plt.ylabel('Temperature in °C')
plt.xticks(rotation = 50)
plt.plot(wtemp['2019-11-15':'2022-02-25'])

In [ ]:
type(wtemp.index)

In [ ]:
wtemp.index.day

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
wtemp['timestep'] = range(len(wtemp))

In [ ]:
X = wtemp[['timestep']] # matrix (or DataFrame)
y = wtemp['meantemperature'] # vector (or Series)

In [ ]:
m = LinearRegression()

In [ ]:
m.fit(X, y)

In [ ]:
wtemp['trend'] = m.predict(X)

In [ ]:
wtemp[['meantemperature', 'trend']].plot()

In [ ]:
wtemp['wo_trend'] = wtemp['meantemperature'] - wtemp['trend']

wtemp['wo_trend'].plot()

In [ ]:
# One-Hot-Encoding the day
seasonal_dummies = pd.get_dummies(wtemp.index.day,
                                  prefix='day',
                                  drop_first=True).set_index(wtemp.index)

In [ ]:
seasonal_dummies

In [ ]:
# join the dummies with the flights data frame
wtemp = wtemp.join(seasonal_dummies)

In [ ]:
wtemp.head()

In [ ]:
# Define X and y
X = wtemp.drop(columns=['meantemperature', 'trend', 'wo_trend'])  # thus keeping timestep and months' dummies

# y is already defined (the number of passengers)

In [ ]:
m.fit(X, y)
# Create a model with trend and seasonality
wtemp['trend + seasonal'] = m.predict(X)
wtemp.head()

In [ ]:
wtemp['1910-11-15':'1922-02-25'][['meantemperature', 'trend + seasonal']].plot()

In [ ]:
wtemp['remainder'] = wtemp['meantemperature'] - wtemp['trend + seasonal']

In [ ]:
wtemp['remainder'].plot(style='o')

In [ ]:
wtemp['remainder'].to_csv('wtemp_remainder_day.csv')

In [ ]:
type(wtemp.index)

wtemp = wtemp.loc[wtemp['meantemperature'] > -100]

wtemp.index.day

In [ ]:
stattemp = wtemp.loc[wtemp.index.day < 29]

In [ ]:
stattemp['2019-10-02':'2021-10-01']

In [ ]:
from statsmodels.tsa.seasonal import seasonal_decompose

In [ ]:
sd = seasonal_decompose(stattemp['meantemperature'], model='additive')